@model ProyectoMod10.Models.Usuario

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Inicio de sesion</h1>
                <hr />
                <form asp-controller="Usuario" asp-action="Login" method="post">
                    <div class="form-group m-2">
                        <label class="control-label">Correo</label>
                        <input type="email" placeholder="Email" asp-for="Email" class="form-control" />
                    </div>
                    <div class="form-group m-2">
                        <label class="control-label">Clave</label>
                        <input type="password" placeholder="Password" asp-for="Password" class="form-control" />
                    </div>

                    <label class="control-label m-2">
                        <input class="form-check-input" type="checkbox" asp-for="KeepLoggedIn" />
                        Mantener iniciada la sesion.
                    </label>

                    <div class="form-group m-2">
                        <button type="submit" class="btn btn-primary">Ingresar</button>
                    </div>

                    @if (ViewData["ValidateMessage"] != null)
                    {
                        <br />
                        <br />
                        <label class="control-label text-danger">@ViewData["ValidateMessage"]</label>
                    }
                </form>
            </div>
        </div>
    </div>
</body>
</html>
